.header {
  min-height: 8vh;
}

.hero-image-container {
  width: 100%;
}
.hero-image-container img {
  width: 100%;
}

.cards-container {
  display: flex;
  justify-content: space-between;
}
.cards-container h2 {
  padding: 50px;
  background-color: whitesmoke;
}
.confirmed {
  color: red;
}
.recovered {
  color: green;
}
.deaths {
  color: grey;
}
.selectbox {
  margin: 10px 0;
}

footer {
  padding: 30px 0;
}

/*Media Queries*/
@media (max-width: 768px) {
  .country-picker {
    display: flex;
    justify-content: center;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .chart {
    display: none;
  }
}
